<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pori-pori Game</title>
    <script src="components/angular/angular.js"></script>
    <script src="pori/app.js"></script>
    <script type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="windows-1251"></script>
    <link rel="stylesheet" href="pori.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body ng-app="app" ng-controller="MainCtrl">
<div class="game">
    <h1>Pori-pori - is a classic 3-in-row game</h1>
    <div class="gameboard">
        <div class="row" ng-repeat="(i, row) in cells">
            <div class="cell" ng-repeat="(j, cell) in row" ng-click="click(i, j)">
                <div ng-if="cell.item">
                    <img ng-src="{{cell.item.sprite}}" />
                    <span class="mob-name" ng-bind="cell.item.name"></span>
                    <span class="mob-reward" ng-bind="cell.item.reward + ' z'"></span>
                </div>
            </div>
        </div>
        <div class="gameboard-overlay" ng-if="gameOver">
            <span>GAME OVER!</span>
            <div class="social-buttons">
                <span>Share the game with social network!</span>
                <div>
                    <script>
                        document.write(VK.Share.button({
                                    description: 'I earned some Zeny in Pori-Pori Game!',
                                    image: 'http://stwippie.com/images/social-image.jpg',
                                    url: 'http://stwippie.com',
                                    noparse: true},
                                {type: 'custom', text: '<span><i class="fa fa-vk fa-2x"></i></span>'}));
                    </script>
                    <span><i class="fa fa-facebook fa-2x"></i></span>
                    <span><i class="fa fa-twitter fa-2x"></i></span>
                    <span><i class="fa fa-google-plus fa-2x"></i></span>
                </div>
            </div>
            <div class="new-game-button" ng-click="playAgain()">Play Again</div>
        </div>
    </div>
    <div class="external-cell-container">
        <div class="external-cell">
            <div ng-if="externalCell.item">
                <img ng-src="{{externalCell.item.sprite}}" />
                <span class="mob-name" ng-bind="externalCell.item.name"></span>
                <span class="mob-reward" ng-bind="externalCell.item.reward + ' z'"></span>
            </div>
        </div>
        <div class="reward">
        <p>You reward is <span class="reward-value" ng-bind="player.reward"></span> Zeny!</p>
        </div>
    </div>
    <p class="info">
        The purpose of the game is to collect as many zeny as you can before gameboard is fulfilled.
        <br/>
        The bottom cell contains a random poring. Click any empty cell to place this poring there.
        <br/>
        Combine 3 or more porings to evolve them into one next-generation poring ang collect reward for each disappeared poring.
        <br/>
        If there is no next-generation poring then no new poring will appear.
    </p>
</div>
</body>
</html>