body {
    font-family: fantasy;
}

h1 {
    color: #9F8EE0;
    font-family: fantasy;
    font-size: 20px;
}

.info {
    font-family: fantasy, 'Neucha';
    font-size: 14px;
}

.game {
    margin: 0 auto;
    width: 800px;
}

.gameboard {
    box-shadow: 5px 5px 5px 5px #9C9FD3;
    width: 528px;
    font-size: 0;
    position: relative;
    float: right;
}

.gameboard-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .8);
    font-family: fantasy;
    font-size: 60px;
    text-align: center;
    line-height: 528px;
}

.new-game-button {
    position: absolute;
    top: 450px;
    left: 170px;
    font-size: 40px;
    text-decoration: underline;
    color: rgba(147, 52, 153, 1);
    line-height: normal;
    cursor: pointer;

}

.social-buttons {
    font-size: 20px;
    font-family: fantasy;
    position: absolute;
    top: 50px;
    left: 100px;
    line-height: 30px;
}

.fa {
    margin: 15px;
}

.fa-vk {
    color: #4e729a;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #55acee;
}

.fa-google-plus {
    color: #db4437;
}

.cell {
    width: 86px;
    height: 86px;
    display: table-cell;
    border: 1px solid cornflowerblue;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    font-size: 11px;
    position: relative;
}

.mob-name {
    position: absolute;
    top: 2px;
    left: 2px;

}

.mob-reward {
    position: absolute;
    right: 2px;
    bottom: 2px;
}

.external-cell {
    width: 86px;
    height: 86px;
    display: table-cell;
    border: 1px solid cornflowerblue;
    padding: 0;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    font-size: 11px;
    position: relative;
    box-shadow: 5px 5px 5px 5px #9C9FD3;
}

.external-cell-container {
    width: 86px;
    margin: 0 auto;
}

.next-poring-label {
    text-align: center;
}

.sidebar {
    width: 250px;
    height: auto;
    float: left;
}

.reward {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-family: fantasy;
    clear: both;
}

.reward-value {
    color: darkcyan;
}